extends common/layout 

block content 
  main
    section.work
      h2 How Dreamshare works?
      .work-box
        .work-box__step
          button STEP 1
          h4 Sed leo enim, condimentum
          p
            | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
        .work-box__step
          button STEP 2
          h4 Morbi velit risus
          p
            | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
        .work-box__step
          button STEP 3
          h4 Sed leo enim, condimentum
          p
            | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
    section.meet
      h2 Meet a partner for your best holiday
      .meet-box
        .meet-box__partner
          .meet-box__icon.icon-1
            img(src='images/icon1.png' alt='')
          img(src='images/Bitmap.png' alt='')
          h5 Bradley Hunter
          p Based in Chicago. I love playing tennis and loud music.
        .meet-box__partner
          .meet-box__icon.icon-2
            img(src='images/icon2.png' alt='')
          img(src='images/Bitmap2.png' alt='')
          h5 Marie Bennett
          p Currently living in Colorado. Lover of art, languages and travelling.
        .meet-box__partner
          .meet-box__icon.icon-3
            img(src='images/icon3.png' alt='')
          img(src='images/Bitmap3.png' alt='')
          h5 Diana Wells
          p
            | Living in Athens, Greece. I love black and white classics, chillout music and green tea.
        .meet-box__partner
          .meet-box__icon.icon-4
            img(src='images/icon4.png' alt='')
          img(src='images/Bitmap4.png' alt='')
          h5 Christopher Pierce
          p Star Wars fanatic. I have a persistent enthusiasm to create new things.
      button See other partners
    section.activity
      h2 Discover holiday activity ideas
      .activity-box
        div
          h4 Sports and Activis
        div
          h4 Wellness and Health
        div
          h4 Extreme Sports and Expeditions
        div
          h4 Games
        div
          h4 Culture and Education
        div
          h4 Enjomet and Relaxation
        div
          h4 Travelling
    section.search
      h2 Crate your holiday activity
      .search-box
        p Hi! What are your holiday interests?
        div
          input(type='text' placeholder='Enter your insterests')
          button Search partners