header{
    max-width: 1440px;
    height: 700px;
    margin: 0 auto;
    background-image: url(../images/Background.png);
    color: $text-color-w;
    padding-top: 39px;
    .header{
        max-width: 943px;
        margin: 0 auto;
        &-up{
            display: flex;
            justify-content: space-between;
            h3{
                font-family: 'Montserrat-Bold';
                font-size: 20px;
                text-transform: uppercase;
                padding-top: 11px;
            }
            &__button{
                margin-right: 42px;
                button{
                    background: none;
                    font-family: 'Montserrat-regular';
                    border: 2px solid white;
                    width: 90px;
                    height: 36px;
                    line-height: 35px;
                }
                button:first-child{
                    border: none;
                }
            }
        }
        &-info{
            text-align: center;
            margin: 148px auto;
            width: 470px;
            h1{
                font-family: 'Montserrat-Bold';
                font-size: 52px;
                line-height: 63.39px;
            }
            h4{
                font-family: 'Roboto-Light';
                font-size: 24px;
                padding-top: 27px;
            }
            button{
                margin-top: 34px;
                width: 225px;
                height: 40px;
                line-height: 39px;
                padding-left: 10px;
            }
        }
    }
}