footer.footer
    .footer-box
      div
        h3 Dreamshare
        nav
          h5 Company
          a(href='#') About
          a(href='#') Contact
          a(href='#') Press
          a(href='#') Blog
          a(href='#') Terms and Privacy
          a(href='#') Help
      .footer-partners
        nav
          h5 Partners
        div
          h6 DESIGNED BY
          img(src='images/areto.png' alt='')
