header
  .header
    .header-up
      .header-up__logo
        h3 Dreamshare
      .header-up__button
        button Log in
        button Sign up
    .header-info
      h1 SHARE YOUR HOLIDAY DREAM
      h4 And find the perfect partner to fullfill it
      button Find your holiday partner